services:
  havana-server:
    depends_on: 
      mariadb:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile-Server
    ports:
      - "12321:12321"
      - "12322:12322"
      - "12323:12323"
    networks:
      - havana
    env_file: .env
    restart: unless-stopped
  havana-web:
    depends_on: 
      mariadb:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile-Web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.habbo.rule=Host(`habbo.damasce.no`)"
      - "traefik.http.routers.habbo.entrypoints=websecure"
      - "traefik.http.services.habbo.loadbalancer.server.port=80"
    networks:
      - havana
      - proxy
    volumes:
      - ./tools:/havana-web/bin/tools
    env_file: .env
    restart: unless-stopped
  mariadb:
    image: "mariadb:latest"
    networks:
      - havana
    env_file: .env
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./tools/havana.sql:/docker-entrypoint-initdb.d/havana.sql
      - ./tools/migrations/update.1.1.sql:/docker-entrypoint-initdb.d/update.1.1.sql
      - ./tools/migrations/update.1.2.sql:/docker-entrypoint-initdb.d/update.1.2.sql
      - ./tools/migrations/update.1.3.sql:/docker-entrypoint-initdb.d/update.1.3.sql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped
  phpmyadmin:
    image: phpmyadmin
    restart: unless-stopped
    environment:
      - PMA_HOST=mariadb
      - UPLOAD_LIMIT=100M
    networks:
      - havana
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.phpmyadmin.rule=Host(`phpmyadmin.damasce.no`)"
      - "traefik.http.routers.phpmyadmin.entrypoints=websecure"
      - "traefik.http.routers.phpmyadmin.middlewares=lan@file"
      - "traefik.http.services.phpmyadmin.loadbalancer.server.port=80"

networks:
  havana:
  proxy:
    external: true
    